.vscode/**
.vscode-test/**
.vscode-test.mjs
src/**
webview/**
out/**
test/**
node_modules/**
!node_modules/@cursor/**
!node_modules/@bufbuild/**
!node_modules/@connectrpc/**
.gitignore
.gitattributes
eslint.config.mjs
**/tsconfig*.json
**/*.map
**/*.ts
esbuild.js
*.vsix
*.log
DEVELOPMENT.md
ARCHITECTURE.md
